<%- include('partials/header') %>

<section class="about-section">
    <div class="about-content">
        <h1>About Us <i class="bi bi-people-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="orange" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
          </svg></h1>
        <p>Welcome to Vision Optics, where we provide stylish, high-quality eyewear designed to enhance your look and protect your eyes. Our mission is to bring you a wide range of eyewear options that combine fashion, comfort, and durability.</p>
        <p>Whether you're looking for prescription glasses, trendy sunglasses, or specialized eyewear, we've got you covered. Our eyewear is designed with the latest trends and technology in mind, so you can be sure you're always looking your best and protecting your vision.</p>
        <p>Our team of professionals is dedicated to providing exceptional customer service, ensuring that every purchase is a positive experience. We're passionate about eyewear, and it shows in every product we offer.</p>
    </div>

    <div class="about-image">
        <img src="/photos/eyewear_team.webp" alt="Eyewear Team" />
    </div>
</section>

<p>&copy; 2025 Vision Optics. All rights reserved.</p>

<%- include('partials/footer') %>