<%- include('partials/header') %>

<div>
<h1>Thank you, <%= name %>! Your appointment has been booked.</h1>
<p>We look forward to seeing you on your scheduled appointment date and time.</p>
</div>

<%- include('partials/footer') %>